<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/shopfrog.css" rel="stylesheet" media="screen">   
    <link href="/css/shopfrog-brown.css" rel="stylesheet" media="screen">
    <link href="/css/rateit.css" rel="stylesheet" media="screen">           
    <link href="/css/magnific-popup.css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING= Respond.js doesn't work if you view the page via file=// -->
    <!--[if lt IE 9]>
      <script src="https=//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https=//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title><%-title %></title>


<script src="/js/respond.min.js"></script>
<link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>    
<script src="/js/modernizr.min.js"></script> 
<script src="/js/imagesloaded.min.js"></script>  
<script src="/js/jquery.masonry.min.js"></script>  
<script src="/js/jquery.rateit.min.js"></script>   
<script src="/js/jquery.magnific-popup.min.js"></script>       
<script src="/js/bootstrap.min.js"></script>
<script src="/js/shopfrog.js"></script>

    <script src="/js/knockout-3.1.0.js"></script>
    <script src="/js/komapping.js"></script>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
    <script src="/js/lodash.js"></script>
 </head>
 <body>
 <% include header.ejs %>
 <%-body %>

  </body>
 </html>